.carousel-container {
    padding: 0 2rem;
    padding-top: 4.5rem;
    overflow: hidden;
}

.carousel-container .slideController {
    position: absolute;
    top: -2rem;
    right: 0;
    z-index: 100;
}

.carousel-container .slideController button {
    border: 0;
    font-size: 1rem;
    padding: 0 1rem;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.2);
    margin-right: 1rem;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: 1rem 1rem;
    border-radius: 15px;
    padding: 1rem;
    transition: 200ms linear;
    cursor: pointer;
}

.carousel-slide:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 253, 0.12);
    box-shadow: 0px 0px 10px rgba(0, 0, 253, 0.2);
}

.carousel-slide img {
    width: 100%;
    max-width: 15rem;
}

.carousel-slide>:nth-child(3) {
    font-size: 1.5rem;
}

.carousel-slide>:nth-child(4) {
    color: rgb(140 139 139);
    font-size: .7rem;
    max-width: 15rem;
}

.swiper-horizontal {
    overflow: visible;
}

@media (max-width: 640px) {
    .carousel-container .slideController {
        position: initial;
        text-align: center;
    }
}